@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;400;700;900&family=Roboto+Slab:wght@100;400;600;900&display=swap');

:root {
  --beige: #FFF5E0;
  --pink: #FF6969;
  --red: #BB2525;
  --navy: #141E46;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto Slab', sans-serif;
}

a {
  text-decoration: none;
}

header {
  height: 20vh;
  background-color: var(--navy);
  color: var(--beige);
  display: flex;
  align-items: center;
}

header a {
  text-decoration: none;
  color: var(--beige);
}

h1 {
  margin-left: 30px;
  padding: 20px 30px;
  border-radius: 10px;
}

h1:hover {
  background-color: var(--beige);
  color: var(--navy);
}

main {
  min-height: 60vh;
  background-color: var(--beige);
  padding-bottom: 80px
}

.title h2 {
  font-size: 2.5rem;
}

.title h3 {
  font-weight: 400;
}

.flex {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  width: 80%;
  margin: 30px;
  text-align: center;
  position: relative;
}

h3 {
  margin-top: 20px
}

.title span {
  color: var(--red);
  text-decoration: underline;
}


#costos {
  width: 100%;
}

.tablaCostos {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  row-gap: 10px;
}

.tablaCostos>div{
  background-color: var(--red);
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  border: 1px solid var(--navy)
}

.encTabla {
  color: var(--beige);
}

.encTabla h4 {
  font-size: 2rem;
  padding: 30px;
}

.hasta {
  color: var(--pink);
  font-size: 1.4rem;
}

#promo {
  background-color: var(--navy);
  color: var(--pink);
  border-color: var(--pink);
}

#off25 {
  font-size:2rem;
  margin: 0 0 20px;
  color: var(--beige);
  text-shadow: 0 0 10px var(--beige);
}

#creditCards {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}

#creditCards img {
  height: 30px;
  margin: 10px;
}

.datosPago {
  display: flex;
  align-items: start;
  width: 100%;
}

/* .datosPago div:not(:last-child) {
  border-bottom: 1px solid var(--navy);
} */
.datosPago div{
  padding: 40px;
}

.datosPago hr {
  color: var(--navy);
  width: 100%;
}
.datosPago p {
  margin: 15px
}

form {
  width: 90%;
  gap:20px;
}

input {
  padding: 10px;
  font-size: 1rem;
}


input:not([type="submit"]) {
  border: none;
  border-bottom: 1px solid var(--red);
  background-color: var(--beige);
  width: 100%;
}

input:not([type="submit"]):focus {
  outline: none;
  border-left: 2px solid var(--red);

}

input[type="submit"]{
  border: 1px solid var(--red);
  border-radius: 10px;
  background-color: var(--navy);
  color: var(--beige);
  margin-top: 30px;
  font-weight:600;
  font-size: 1.3rem;
  padding: 15px 25px;
  transition: 0.2s;
  cursor: pointer;
}

input[type="submit"]:hover{
  transform: scale(1.05);
  box-shadow: 0 0 20px var(--pink);
}

@media screen and (min-width: 768px) {

  .tablaCostos{
    grid-template-columns: repeat(3, auto);
    grid-template-rows: 1fr 1fr;
    column-gap: 30px;
    justify-content: center;
  }

  #promo {
    grid-column: 1 / 4;
  }
}

@media screen and (min-width: 1024px) {
  .tablaCostos{
    width: 80%;
  }
}